// @mixin font {
//     font-size: 48px;
//     color: $color-green;
//     font-weight: 600;
//     font-family: "Josefin Sans", sans-serif;
// }

@mixin font($color, $size, $weight, $family){
    color:$color;
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}
@mixin hover($bg-color, $opac){
    background-color: $bg-color;
    opacity: $opac;
}
@mixin flex-center($acenter:center, $jcenter:center){
    display: flex;
    align-items: $acenter;
    justify-content: $jcenter;
}